{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="profile-form">
                    {% if orders %}
                        <h3 class="text-center mb-4 form-header">Ближайшие записи</h3>
                        {% for order in orders %}
                        <div class="col text-center">
                            <div class="testimonial-card">
                                <p class="mb-0">{{ order.name }}</p>
                                <p class="mb-0">{{ order.phome }}</p>
                                <p class="mb-0">{{ order.product }}</p>
                                <p class="mb-0">{{ order.comment }}</p>
                                <p class="mb-0">{{ order.date.date|date:"d E Y" }}</p>
                                <p class="mb-0">{{ order.time.time|time:"H:i" }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "pagination.html" %}
</div>
</div>
{% endblock content %}