{% extends "base.html" %}
{% load static %}
{% comment %} {% load carts_tags %} {% endcomment %}

{% block title %}
<title> {{ title }} </title>
{% endblock title %}


{% block content %}
<link rel="stylesheet" href={% static "deps/css/profile_css.css" %}>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% if current_app or future_app or past_app %}
            <div class="profile-form">
                {% if current_app %}
                    <h3 class="text-center mb-4 form-header">Записи на сегодня</h3>
                    {% for appointment in current_app %}
                    <div class="col text-center">
                        <div class="testimonial-card">
                            <p class="mb-0">{{ appointment.date.date|date:"d E Y" }}</p>
                            <p class="mb-0">{{ appointment.time.time|time:"H:i" }}</p>
                            <p class="mb-0">{{ appointment.product }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if future_app %}
                    <h3 class="text-center mb-4 form-header">Ближайшие записи</h3>
                    {% for appointment in future_app %}
                    <div class="col text-center">
                        <div class="testimonial-card">
                            <p class="mb-0">{{ appointment.date.date|date:"d E Y" }}</p>
                            <p class="mb-0">{{ appointment.time.time|time:"H:i" }}</p>
                            <p class="mb-0">{{ appointment.product }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if past_app %}
                    <h3 class="text-center mb-4 form-header">Прошедшие записи</h3>
                    {% for appointment in past_app %}
                    <div class="col text-center">
                        <div class="testimonial-card">
                            <p class="mb-0">{{ appointment.date.date|date:"d E Y" }}</p>
                            <p class="mb-0">{{ appointment.time.time|time:"H:i" }}</p>
                            <p class="mb-0">{{ appointment.product }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% else %}
                <div class="profile-form">
                <h3 class="text-center mb-4 form-header">Тут будут ваши записи!!!</h3>
            {% endif %} 
        </div>
        
        <div class="col-12 col-md-8 col-lg-6 mt-4 mt-md-5">
            <div class="profile-form">
                <h3 class="text-center mb-4 form-header">Профиль пользователя</h3>
                <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 mb-3 text-center">
                            {% if user.image %}
                                <img src="{{ user.image.url }}"
                                    alt="Аватар пользователя" class="img-fluid rounded-circle"
                                    style="max-width: 150px;">
                            {% else %}
                                <img src="{% static "deps/images/bg-image.jpg" %}"
                                    alt="Аватар пользователя" class="img-fluid rounded-circle"
                                    style="max-width: 150px;">
                            {% endif %}
                            <input type="file" class="form-control mt-3" id="id_image"
                                name="image"
                                accept="image/*">
                                {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="id_first_name" class="form-label">Имя*</label>
                            <input type="text" class="form-control" id="id_first_name"
                                name="first_name"
                                placeholder="Введите ваше имя" 
                                value="{{form.first_name.value}}"
                                required>
                                {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="id_username" class="form-label">Имя пользователя*</label>
                            <input type="text" class="form-control" id="id_username"
                                name="username"
                                placeholder="Введите ваше имя пользователя" 
                                value="{{form.username.value}}" 
                                required>
                                {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                {% endif %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="id_username" class="form-label">Номер телефона*</label>
                            <input type="text" class="form-control" id="id_username"
                                name="phone_number"
                                {% comment %} placeholder="{{form.phone_number.value}}"  {% endcomment %}
                                value="{{form.phone_number.value}}" 
                                readonly
                                style="background-color: #f8f9fa; cursor: not-allowed;">
                                <small class="form-text text-muted">
                                    Номер телефона нельзя изменить после регистрации. Для изменения обратитесь в поддержку.
                                </small>
                                {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
                                {% endif %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="id_email" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="id_email"
                                name="email"
                                placeholder="Введите ваш email *youremail@example.com" 
                                value="{{form.email.value}}"
                                >
                                <small class="form-text text-muted">
                                    Для рассылки акций и предложений
                                </small>
                                {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-submit mt-5">Сохранить</button>
                        {% if user.is_admin or user.is_staff %}
                            <a class="btn btn-primary mt-5" href="{% url "admin:index" %}">Админ панель</a>
                            <a class="btn btn-primary mt-5" href="{% url "order:list_orders_today" %}">Записи на сегодня</a>
                            <a class="btn btn-primary mt-5" href="{% url "order:list_orders" %}">Ближайшие записи</a>
                        {% endif %}
                        <a href="{% url "user:logout" %}" class="btn btn-dark mt-5">Выход</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}